openapi: 3.0.3
info:
  title: Signal Compass API
  version: 1.1.0-hour1
  description: |
    Hour 1 contract hardening for Signal Compass read APIs.
    Adds explicit error envelopes, pagination metadata, and cache/freshness fields.
servers:
  - url: https://api.signalcompass.app
    description: Production
  - url: https://staging-api.signalcompass.app
    description: Staging

tags:
  - name: Regime
  - name: Playbook
  - name: Alerts

paths:
  /v1/regime/current:
    get:
      tags: [Regime]
      operationId: getCurrentRegime
      summary: Get current regime snapshot
      responses:
        '200':
          description: Current regime
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrentRegimeResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /v1/regime/history:
    get:
      tags: [Regime]
      operationId: getRegimeHistory
      parameters:
        - $ref: '#/components/parameters/RangeParam'
      responses:
        '200':
          description: Historical regime snapshots
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegimeHistoryResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /v1/regime/drivers:
    get:
      tags: [Regime]
      operationId: getRegimeDrivers
      responses:
        '200':
          description: Driver contribution breakdown
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DriverBreakdownResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /v1/playbook/current:
    get:
      tags: [Playbook]
      operationId: getCurrentPlaybook
      responses:
        '200':
          description: Current playbook recommendations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaybookResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /v1/alerts:
    get:
      tags: [Alerts]
      operationId: listAlerts
      parameters:
        - $ref: '#/components/parameters/AlertLimitParam'
        - $ref: '#/components/parameters/AlertCursorParam'
      responses:
        '200':
          description: Recent alerts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

components:
  parameters:
    RangeParam:
      in: query
      name: range
      schema:
        type: string
        enum: [7d, 30d, 90d]
        default: 30d
      description: Time window for historical snapshots.

    AlertLimitParam:
      in: query
      name: limit
      schema:
        type: integer
        default: 20
        minimum: 1
        maximum: 100
      description: Number of alerts returned per page.

    AlertCursorParam:
      in: query
      name: cursor
      schema:
        type: string
      description: Opaque cursor for forward pagination.

  responses:
    BadRequest:
      description: Invalid query parameters or malformed input.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'

    InternalServerError:
      description: Unhandled service error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'

  schemas:
    CurrentRegimeResponse:
      type: object
      required: [data, meta]
      properties:
        data:
          $ref: '#/components/schemas/RegimeSnapshot'
        meta:
          $ref: '#/components/schemas/Meta'

    RegimeHistoryResponse:
      type: object
      required: [data, meta]
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/RegimeSnapshot'
        meta:
          allOf:
            - $ref: '#/components/schemas/Meta'
            - type: object
              properties:
                range:
                  type: string
                  enum: [7d, 30d, 90d]

    DriverBreakdownResponse:
      type: object
      required: [data, meta]
      properties:
        data:
          type: object
          required: [drivers, rationale]
          properties:
            drivers:
              type: array
              items:
                $ref: '#/components/schemas/DriverContribution'
            rationale:
              type: string
        meta:
          $ref: '#/components/schemas/Meta'

    PlaybookResponse:
      type: object
      required: [data, meta]
      properties:
        data:
          type: object
          required: [regime, actions, antiPatterns]
          properties:
            regime:
              type: string
              enum: [risk_on, neutral, risk_off]
            actions:
              type: array
              items:
                type: string
            antiPatterns:
              type: array
              items:
                type: string
        meta:
          $ref: '#/components/schemas/Meta'

    AlertsResponse:
      type: object
      required: [data, meta]
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/AlertEvent'
        meta:
          allOf:
            - $ref: '#/components/schemas/Meta'
            - type: object
              properties:
                page:
                  $ref: '#/components/schemas/PageMeta'

    RegimeSnapshot:
      type: object
      required:
        - id
        - asOf
        - regime
        - score
        - confidence
        - modelVersion
        - freshness
      properties:
        id:
          type: string
        asOf:
          type: string
          format: date-time
        regime:
          type: string
          enum: [risk_on, neutral, risk_off]
        score:
          type: number
          minimum: -1
          maximum: 1
        confidence:
          type: string
          enum: [low, medium, high]
        modelVersion:
          type: string
        delta:
          type: number
          description: Score delta versus previous snapshot.
        freshness:
          $ref: '#/components/schemas/FreshnessMeta'
        staleFlags:
          type: array
          items:
            type: string

    DriverContribution:
      type: object
      required: [driver, direction, weight, contribution]
      properties:
        driver:
          type: string
        direction:
          type: string
          enum: [positive, negative, neutral]
        weight:
          type: number
        contribution:
          type: number
        explanation:
          type: string

    AlertEvent:
      type: object
      required: [id, createdAt, type, severity, title]
      properties:
        id:
          type: string
        createdAt:
          type: string
          format: date-time
        type:
          type: string
          enum: [regime_transition, significant_delta, data_stale]
        severity:
          type: string
          enum: [info, warning, critical]
        title:
          type: string
        message:
          type: string
        acknowledged:
          type: boolean

    PageMeta:
      type: object
      properties:
        nextCursor:
          type: string
          nullable: true
        hasMore:
          type: boolean

    FreshnessMeta:
      type: object
      required: [status, maxLagSeconds]
      properties:
        status:
          type: string
          enum: [fresh, degraded, stale]
        maxLagSeconds:
          type: integer
          minimum: 0
        feeds:
          type: array
          items:
            type: object
            required: [name, lagSeconds, status]
            properties:
              name:
                type: string
              lagSeconds:
                type: integer
                minimum: 0
              status:
                type: string
                enum: [fresh, degraded, stale]

    Meta:
      type: object
      required: [requestId, generatedAt, apiVersion]
      properties:
        requestId:
          type: string
        generatedAt:
          type: string
          format: date-time
        apiVersion:
          type: string
        warnings:
          type: array
          items:
            type: string

    ErrorEnvelope:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
            message:
              type: string
            details:
              type: object
              additionalProperties: true
            requestId:
              type: string